@model IEnumerable<DashboardWebUI.Models.PurchaseDiplayModel>

@{
    ViewBag.Title = "Purchase Summary";
}

<h2>Loan Draw Purchase Summary</h2>

<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyToReimburse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptLink)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartyToReimburse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawNumber)
            </td>
            <td>
                <a class="btn-sm btn-info" href=@item.ReceiptLink target="_blank">Link</a>
            </td>
            <td>
                <a class="btn-sm btn-warning" href=@Url.Action("Update", new { id = item.Id })>Edit</a>
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                <a class="btn-sm btn-danger" href=@Url.Action("Delete", new { id = item.Id })>Delete</a>
            </td>
        </tr>
    }
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style="font-weight:bold">Total:</td>
    <td style="font-weight:bold">@ViewData["PurchaseTotalSum"]</td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</table>

<p>
    <a class="btn-lg btn-success" href=@Url.Action("Add")>Create New</a>
    @*<button class="btn-success">@Html.ActionLink("New", "Add", new { }, new { @style = "color:snow" })</button>*@
</p>
