@model IEnumerable<DashboardWebUI.Models.PurchaseDiplayModel>

@{
    ViewBag.Title = "Index";
}

@{ var purchaseTotal = Model.Sum(x => x.PurchaseTotal);}

<h2>All Purchases</h2>

<p>
    <a class="btn btn-success" href=@Url.Action("Add")>Add New</a>
</p>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartyToReimburse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartialPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptLink)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartyToReimburse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseTotal)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.DrawNumber)*@
                <a class="btn-sm btn-primary" href=@Url.Action("DrawDetails", new { id = item.DrawNumber})>@item.DrawNumber</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartialPayment)
            </td>
            <td>
                <a class="btn btn-info" href=@item.ReceiptLink target="_blank">
                    <i class="fas fa-file-invoice-dollar fa-lg"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-warning" href=@Url.Action("Update", new { id = item.Id })>
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <a class="btn btn-danger" href=@Url.Action("Delete", new { id = item.Id })>
                    <i class="far fa-trash-alt fa-lg"></i>
                </a>
            </td>
        </tr>
    }
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style="font-weight:bold">Purchase Total:</td>
    <td style="font-weight:bold">@purchaseTotal.ToString("C")</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</table>
